#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 12px; /* espacio entre logo y texto */
}

.logo {
  height: 8em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.footer {
  position: fixed;       /* Se queda fijo */
  bottom: 0;             /* Pegado abajo */
  left: 0;
  width: 100%;           /* Ocupa todo el ancho */
  text-align: center;    /* Centra el texto */
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
